<!DOCTYPE html>
<html lang="en-AU">

  <head>
    {{> commonHead }}
    <title>Aaron Marshall</title>
    <link rel="stylesheet" href="/assets/common.css" />
    <link rel="stylesheet" href="/assets/index.css" />
  </head>

  <body>
    <div class="page-layout">
      {{> header}}
      <div class="content">

      </div>
    </div>
  </body>

</html>