<header>
  <div class="header-layout">
    <div class="header-title-wrap">
      <h1 class="header-title">Aaron Marshall</h1>
    </div>
    <nav>
      <ol>
        <li class="list-item">
          <a class="list-item-link" href="/">Me</a>
        </li>
        <li class="list-item">
          <a class="list-item-link" href="/blog">Blog</a>
        </li>
      </ol>
    </nav>
  </div>
</header>