on:
  push:

jobs:
  check-client:
    name: Check/Test Client
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Code test
      id: test
      run: ./go.sh test_client
  check-server:
    name: Check/Test Server
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2
    - name: Code test
      id: test
      run: ./go.sh test_server
  publish-server:
    name: Publish Server
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: 
    - check-server
    - check-client
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: "./server"
        platforms: linux/amd64,linux/arm64
        push: true
        tags: 041260952467.dkr.ecr.ap-southeast-2.amazonaws.com/i18u/server:${{ github.sha }}
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: 
    - publish-server
    steps:
    - name: Checkout Source
      uses: actions/checkout@v2

    - name: Prepare Deployment Files
      run: |
        mkdir -p deploy
        echo "SERVER_IMAGE=041260952467.dkr.ecr.ap-southeast-2.amazonaws.com/i18u/server:${{ github.sha }}" >> deploy/.env
        echo "CLIENT_IMAGE=i18u-client:latest" >> deploy/.env
        echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> deploy/.env
        echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> deploy/.env
        cp compose.yml deploy/docker-compose.yml

    - name: Deploy
      uses: easingthemes/ssh-deploy@main
      with:
        SSH_PRIVATE_KEY: ${{ secrets.I18U_SERVICE_PRIVATE_KEY }}
        REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
        REMOTE_USER: ${{ secrets.REMOTE_USER }}
        SOURCE: "deploy/"
        SCRIPT_AFTER: "doas docker compose up -d"
